u {
    text-decoration-color: lightgrey;
}

.wrapper {
    width: 96%;
    background-color: rgb(192, 207, 204);
    padding: 2%;
}

.container1 {
    width: 94%;
    background-color: rgb(116, 186, 199);
    padding: 2.78%;
}

.d1redtext {
    width: 70%;
    color: white;
    padding: 6.94%;
    margin: 2.78%;
    background-color: #e2085f;
}

.beauty {
    width: 65.33%;
    margin: 2.78%;
    font-size: 80px;
    color: white;
}

.d1text {
    margin: 2.78%;
    width: 65.66%;
    font-size: 17px;
    line-height: 20px;
    color: white;
}

.whitetext {
    margin-left: -6.94%;
    width: 90%;
    padding: 6.94%;
    background-color: rgb(237, 241, 241);
    color: black;
    line-height: 20px;
}

.d1wnexttext {
    width: 90%;
    color: white;
    padding: 6.94%;
    line-height: 20px;
}

.d1lastred {
    background-color: #e2085f;
    margin: 2.78%;
    color: white;
    padding: 4.16%;
    line-height: 20px;
}

.d1lastbenifits {
    background-color: rgb(237, 241, 241);
    padding: 4.16%;
    margin: 0px 2.78%;
    line-height: 20px;
}

.d1lastrequirements {
    background-color: rgb(237, 241, 241);
    padding: 4.16%;
    margin: 0px 2.78%;
    line-height: 20px;
}

.d1lastbox {
    padding: 5.55%;
    margin-left: 2.78%;
    width: 35%;
    background-color: #ffffb3;
    line-height: 20px;
}

.container2 {
    width: 94%;
    padding: 2.78%;
    line-height: 35px;
    background-color: #ffffb3;
}

@media screen and (min-width:1024px) {
    /*.wrapper {
        width: 96%;
        background-color: #ccffff;
        padding: 2%;
    }
    
    .container1 {
        width: 94%;
        background-color: skyblue;
        padding: 10px;
    }*/
}